<nav>
  <ul>
    <li><button id='recordNewGame'>Record New Game</button></li>
    <li><button id='viewAllGameData'>View All Game Data</button></li>
    <li><button id='searchGameData'>Search Game Data</button></li>
  </ul>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"> </script>
  <script src="/app.js"></script>
</nav>