<nav>
  <ul>
    <li><button id='recordNewGame'>Record New Game</button></li>
    <li><button id='viewAllGameData'>View All Game Data</button></li>
    <li><button id='searchGameData'>Search Game Data</button></li>
  </ul>
</nav>