<fieldset id="playerInfoForm">

  <label for="player_name">Player 1's Name</label>
  <input type="text" name="player_name" value=""/>

  <label for="spirit">Player 1's Spirit</label>
  <input type="text" name="spirit" value=""/>

  <label for="board">Player 1's Board Letter</label>
  <input type="text" name="board" value=""/>

  <label for="presence_at_end">Player 1's Remaining Presence</label>
  <input type="number" name="presence_at_end" value=""/>

</fieldset>