  <label for="player_name">Player's Name</label>
  <input type="text" name="player_name" value="" />

  <label for="spirit">Player's Spirit</label>
  <input type="text" name="spirit" value="" />

  <label for="board">Player's Board Letter</label>
  <input type="text" name="board" value="" />

  <label for="presence_at_end">Player's Presence at End</label>
  <input type="number" name="presence_at_end" value="" />