
* {
  background: #189ab4;
  outline: dotted 1px black;
  color: black;
}

h1 {
  font-size: 40px;
  color: black;
}

/* 

Baby Blue
#d4f1f4

Blue Green
#75e6da

Blue Grotto
#189ab4

Navy Blue 
#05445e

*/
